[Unit]
Description=BusyLight
After=network.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/unicorn-busy-server
ExecStart=/home/pi/.env/bin/python /home/pi/unicorn-busy-server/server.py
Restart=always
Environment=FLASK_CONFIG=production
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
